.section {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
}
#vanta-bg-memebers {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
